<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>work</title>
</head>
<body style="background-color: black; color: white;">
<body>
 
 <label soy un subtitulo </label>    
        <p>
    Actualmente estoy estudiando <u>programación web</u>, un área que me interesa porque
     permite crear páginas y sistemas que pueden ser utilizados desde internet. Durante mis 
     estudios estoy aprendiendo diferentes tecnologías y conceptos que me ayudan a comprender cómo funciona una página web desde su estructura hasta su funcionamiento. Una de las cosas que estoy aprendiendo es <b>HTML</b>, que sirve para crear la estructura de una página. Con <b>HTML</b> puedo agregar títulos, textos, imágenes, enlaces, botones, listas y diferentes elementos que forman parte de un sitio web. También estoy aprendiendo CSS, que permite modificar la apariencia de las páginas, por ejemplo, cambiar colores, tamaños, posiciones, fondos, tipos de letra y la distribución de los elementos. <s>Aunque al principio puede parecer complicado, poco a poco voy entendiendo cómo funciona.</s>
</p>

<code> </code>
<a href="Imagen/OIP.jpg" download="">abreme</a>

    <div id="enlaces">
        <a href="../index.html">ir al home</a>
        <a href="#footer">ir a footer</a>
        <a href="../about.html">ir al bio</a>
        <a href="../contact.html">ir a contacto</a>
    </div>
    
</body>
</html>>
